.volumeTicker {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  justify-content: space-between;
  .labelText {
    font-size: 0.875rem;
    padding-right: 0.625rem;
    line-height: 2rem;
    span:last-of-type {
      color: #96e7ff;
    }
  }
  .volume {
    font-size: 1.25rem;
  }
}
