.priceTicker {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
  border-left: 1px solid #6ebfd7;
  border-right: 1px solid #6ebfd7;
  .market {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #96e7ff;
    padding-bottom: 7px;
    text-align: left;
  }
  .lastPrice {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1px;
  }
  .trend {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #96e7ff;
    text-align: right;

    &:before, &:after {
      margin: 0 2px;
    }

    &.increse:before {
      content: '+';
    }

    &.increse:after {
      content: '';
      align-self: flex-start;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #96e7ff;
      margin-top: 4px;
      margin-right: 0;
    }

    &.decline:before {
      content: '-';
    }

    &.decline:after {
      content: '';
      align-self: flex-start;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #96e7ff;
      margin-top: 4px;
      margin-right: 0;
    }
  }
}
