$fontFamily: 'Open Sans Light','Open Sans','Helvetica Neue',Helvetica,Arial,"PingFang SC","Microsoft Yahei","微软雅黑",sans-serif;

html, body {
  font-size: 16px;
  background: linear-gradient(#2455be 0,#2ebedd 100%);
  font-family: $fontFamily;
  color: white;

  @media screen and (width <= 667px) {
    font-size: 18px;
  }

  @media screen and (width <= 480px) {
    font-size: 20px;
  }

  ol, ul {
    padding: 0;
    list-style: none;
  }

  table {
    tr {
      td, th {
        vertical-align: middle !important;
      }
    }
  }

  label {
    font-weight: normal;
    padding: 0;
    margin: 0;
  }

  select {
    outline: none;
  }

  a {
    color: #4a90e2;
  }

  a[disabled]{
    opacity: 0.6;
    &:hover {
      cursor: no-drop;
    }
  }

  a, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
  }

  a:hover {
    cursor: pointer;
    color: #337ab7;
  }

  :global {
    #root {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -276px;
    }
  }

  .mainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .logo {
      margin-bottom: 1.25rem;
      img {
        width: 10rem;
      }
    }
  }
}
