.langSwitcher {
  display: inline-block;
  margin-top: 0.625rem;
  font-size: 0.75rem;

  .zhSelect {
    border: 1px solid white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    padding: 0.3125rem 0.625rem;
    display: inline-block;
    color: white;
  }

  .enSelect {
    border: 1px solid white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0.3125rem 0.625rem;
    display: inline-block;
    color: white;
  }

  .active {
    background-color: rgba(0,0,0,0.2);
    color: white;
  }
}
