@font-face {
  font-family: 'Open Sans Light';
  src: url('./OpenSans/OpenSans-Light.ttf') format('truetype');
  src: url('./OpenSans/OpenSans-Light.eot') format('eot');
  src: url('./OpenSans/OpenSans-Light.svg') format('svg');
  src: url('./OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
